<link rel="stylesheet" href="lista.component.css">
<p>Lista de Pacientes</p>
<h4>{{mensagem}}</h4>
<div *ngFor="let paciente of pacientes" class="paciente-card">
    <div class="paciente-info">
        <div class="paciente-field">
            <span class="label">Nome:</span>
            <span class="value">{{paciente.nome}}</span>
        </div>
        <div class="paciente-field">
            <span class="label">CPF:</span>
            <span class="value">{{paciente.cpf}}</span>
        </div>
        <div class="paciente-field">
            <span class="label">ID:</span>
            <span class="value">{{paciente.id}}</span>
        </div>
        <div class="paciente-field">
            <span class="label">Sexo:</span>
            <span class="value">{{paciente.sexo}}</span>
        </div>
        <div class="paciente-field">
            <span class="label">Identidade:</span>
            <span class="value">{{paciente.identidade}}</span>
        </div>
        
        <button (click)="excluir()">Apagar</button>
    </div>
</div>
